<br/><br/><br/>
<form #myForm="ngForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" name="name" [(ngModel)]="name" required minlength="3" #nameInput="ngModel">
    <div *ngIf="nameInput.invalid && (nameInput.dirty || nameInput.touched)">
      <div *ngIf="nameInput.errors?.['required']" class="error">Name is required.</div>
      <div *ngIf="nameInput.errors?.['minlength']" class="error">Name must be at least 3 characters long.</div>
    </div>
  </div>
  <div>
    <label for="email">Email:</label>
    <input type="email" name="email" [(ngModel)]="email" required email #emailInput="ngModel">
    <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
      <div *ngIf="emailInput.errors?.['required']" class="error">Email is required.</div>
      <div *ngIf="emailInput.errors?.['email']" class="error">Invalid email format.</div>
    </div>
  </div>
  <button type="submit" (click)="onSubmit(myForm)" [disabled]="myForm.invalid">Submit</button>
</form>

<h2>Submitted Forms:</h2>
<ul>
  <li *ngFor="let form of submittedForms">
    Name: {{ form.name }}, Email: {{ form.email }}
  </li>
</ul>